@import '../fonts/fonts.css';

:root
{
    --yellow: #edba51;
    --blackColor: #232323;
}

body
{
    font-family: sans-serif;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid
{
    display: grid;
}

.container
{
    max-width: 1280px;
    margin: auto;
}

.wallpaper
{
    position: absolute;
    z-index: -2;
    top: 0;
}

.main .articles
{
    padding: 0 10px;

    flex-wrap: wrap;
}

.button
{
    font-size: 0.875rem;
    font-weight: 700;

    display: -webkit-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;

    padding: 40px 50px;

    letter-spacing: 0.21875rem;

    color: #000;
    background: #edba51;

    align-items: center;
}

.button:after
{
    width: 64px;
    height: 1px;
    margin-left: 22px;

    content: '';
    transition: .33s;

    background: #000;
}

.button:hover:after,
.button:focus:after
{
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.button--yellow
{
    color: #232323;
    color: var(--blackColor);
    background: #edba51;
    background: var(--yellow);
}

.footer
{
    height: 300px;

    background: #232323;
}

.top
{
    margin-top: 145px;
}

.close
{
    position: fixed;
    z-index: 99;
    top: 15px;
    right: 50px;

    background: 0;
}

.close .icon
{
    width: 45px;
    height: 45px;

    fill: #ccc;
}

.bg-dark:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .23;
    background: #000;
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Avenir Next Cyr', sans-serif;
}

::-moz-selection
{
    color: #000;
    background: #edba51;
}

::selection
{
    color: #000;
    background: #edba51;
}

img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

input
{
    border: 0;
}

input[type='submit']
{
    cursor: pointer;
}

input[type='submit'] + label
{
    cursor: pointer;
}

.header
{
    position: absolute;
    z-index: 9;
    top: 0;

    flex-direction: column;

    width: 100%;

    align-items: center;
}

.header__fixed
{
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 0 50px;

    border-radius: 0 0 7px 7px;
    background: #232323;
    box-shadow: 0 6px 14px rgba(0,0,0,.16);

    justify-content: space-between;
    align-items: center;
}

.header__nav
{
    margin-top: 100px;
}

.logotype
{
    font-size: 1.8125rem;
    font-weight: 400;

    color: #fff;
}

.form-search
{
    position: relative;

    align-items: center;
}

.form-search__filed
{
    width: 380px;
    padding: 9px 29px;

    border-radius: 4px;
    background: #f6f6f6;
}

.form-search__submit
{
    position: absolute;
    right: -20px;

    padding: 3px;

    border-radius: 4px;
}

.login
{
    color: #fff;
}

.nav__list-item .active
{
    margin-right: 20px;
    padding: 5px 15px;

    text-transform: uppercase;

    background: #edba51;
}

.nav__list-item .active:hover:after,
.nav__list-item .active:hover:before,
.nav__list-item .active:focus:after,
.nav__list-item .active:focus:before
{
    width: 0;
}

.nav__list-item.active a:after,
.nav__list-item:hover a:after,
.nav__list-item:focus a:after
{
    width: 100%;
}

.nav__list-item a
{
    font-size: 0.9375rem;
    font-weight: 500;

    position: relative;

    margin-right: 38px;
    padding-bottom: 2px;

    color: #303741;
}

.nav__list-item a:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;

    content: '';
    transition: .33s;

    background: #303741;
}

.main hr
{
    height: 1px;

    opacity: .5;
    border: 0;
    background: #d0d4d8;
}

.main__section .container
{
    max-width: 970px;
    margin: 0 auto;
    padding: 72px 0;
}

.main__section h2
{
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.375rem;

    margin-bottom: 33px;

    text-align: center;

    color: #4a4a4a;
}

.main__section h3
{
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: 5px;

    color: #505050;
}

.main__section p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    color: #505050;
}

.main__section p a
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;

    margin-left: 8px;

    color: #4a90e2;
}

.article-news
{
    max-width: 250px;
    margin-right: 35px;
}

.article-news h3
{
    font: 600 1.5rem Akrobat;

    margin-bottom: 13px;

    letter-spacing: 0.08813rem;

    color: #fff;
}

.article-news p
{
    font: 200 0.875rem Akrobat;

    letter-spacing: 0.07688rem;

    color: #fff;
}

.article-news p strong
{
    font-weight: 700;
}

.article-news a
{
    font: 600 0.6875rem 'Akrobat';

    float: right;

    padding-bottom: 2px;

    text-align: right;
    letter-spacing: 0.07688rem;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.section--initial-screen
{
    position: relative;

    padding-bottom: 50px;

    box-shadow: 0 -8px 35px rgba(0,0,0,.04);
}

.section--initial-screen .wallpaper
{
    position: absolute;
    z-index: -2;
}

.section--initial-screen.category-journal .right-side:before
{
    z-index: -3;
}

.section--initial-screen.category-journal h1
{
    margin-left: -350px;

    color: #fff;
}

.section--initial-screen.category-articles .right-side h2 span,
.section--initial-screen.category-journal .right-side h2 span
{
    padding: 8px 0;

    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.09);
}

.section--initial-screen.category-articles h1
{
    margin-left: -350px;

    color: #34343f;
    background: #fff;

    mix-blend-mode: lighten;
}

.section--initial-screen.category-articles .right-side h2
{
    margin-left: -100px;
}

.section--initial-screen.category-articles .right-side .button
{
    margin-left: -100px;
}

.section--initial-screen.category-articles .right-side:before
{
    position: absolute;
    z-index: -1;
    top: 190px;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: #fff;
}

.section--initial-screen h1
{
    font-size: 7.1875rem;
    font-weight: 600;
    line-height: 9rem;

    position: relative;

    padding: 25px 40px;

    letter-spacing: 0.3125rem;
}

.section--initial-screen .left-side
{
    width: 100%;
    max-width: 805px;
    min-height: 610px;
}

.section--initial-screen .right-side
{
    position: relative;

    width: calc(100% - 805px - 12% + 7px);
    padding-left: 35px;
}

.section--initial-screen .right-side h2
{
    line-height: 5.125rem;

    max-width: 80%;
    margin-top: 30px;

    text-align: left;
}

.section--initial-screen .right-side h3
{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.625rem;

    color: #34343f;
}

.section--initial-screen .right-side p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6875rem;

    max-width: 500px;

    color: #34343f;
}

.section--initial-screen .right-side .button
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.section--initial-screen hr
{
    max-width: 500px;
    margin: 30px 0 30px;
}

.section--initial-screen .buttons .active
{
    margin-right: 20px;
    padding: 5px 15px;

    text-transform: uppercase;

    background: #edba51;
}

.section--initial-screen .buttons .active:hover:after,
.section--initial-screen .buttons .active:hover:before,
.section--initial-screen .buttons .active:focus:after,
.section--initial-screen .buttons .active:focus:before
{
    width: 0;
}

.section--initial-screen .buttons a
{
    font-size: 0.875rem;
    font-weight: 500;

    position: relative;

    margin-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: #34343f;
}

.section--initial-screen .buttons a:hover:after,
.section--initial-screen .buttons a:hover:before,
.section--initial-screen .buttons a:focus:after,
.section--initial-screen .buttons a:focus:before
{
    width: 100%;
}

.section--initial-screen .buttons a:before
{
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 1px;

    content: '';
    transition: .33s;

    background: #303741;
}

.section--initial-screen .buttons a:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;

    content: '';
    transition: .33s;

    background: #303741;
}

.section--initial-screen .buttons a:last-child
{
    margin-right: 0;
}

.section--what-we-do__icons
{
    margin-top: 45px;

    justify-content: center;
}

.section--what-we-do .what-we-do__icon
{
    flex-direction: column;

    width: 33%;

    text-align: center;

    justify-content: center;
}

.section--what-we-do .what-we-do__icon .icon
{
    width: 150px;
    height: 150px;
    margin: 0 auto 26px;
}

.section--what-we-do .what-we-do__icon strong
{
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.875rem;

    margin-bottom: 5px;

    text-transform: uppercase;

    color: #4e5665;
}

.section--what-we-do .what-we-do__icon p
{
    font-size: 0.875rem;
    font-weight: 500;

    color: #909090;
}

.section--happy-clients__response
{
    position: relative;

    margin: 65px 0;

    align-items: center;
}

.section--happy-clients__response.response--left
{
    justify-content: flex-end;
}

.section--happy-clients__response.response--left .response-info
{
    left: 0;
}

.section--happy-clients__response.response--left .response-info:before
{
    top: 19px;
    left: 19px;

    border-top: 2px solid #7a96c4;
    border-left: 2px solid #7a96c4;
}

.section--happy-clients__response.response--left .response-info:after
{
    right: 19px;
    bottom: 19px;

    border-right: 2px solid #7a96c4;
    border-bottom: 2px solid #7a96c4;
}

.section--happy-clients__response.response--right
{
    justify-content: flex-start;
}

.section--happy-clients__response.response--right .response-info
{
    right: 0;
}

.section--happy-clients__response.response--right .response-info:before
{
    top: 19px;
    right: 19px;

    border-top: 2px solid #7a96c4;
    border-right: 2px solid #7a96c4;
}

.section--happy-clients__response.response--right .response-info:after
{
    bottom: 19px;
    left: 19px;

    border-bottom: 2px solid #7a96c4;
    border-left: 2px solid #7a96c4;
}

.section--happy-clients .response-info
{
    position: absolute;

    width: 470px;
    height: 289px;
    padding: 30px 45px;

    background: #fff;
    box-shadow: 0 2px 40px rgba(0,0,0,.2);
}

.section--happy-clients .response-info:before
{
    position: absolute;

    width: 33px;
    height: 33px;

    content: '';
}

.section--happy-clients .response-info:after
{
    position: absolute;

    width: 33px;
    height: 33px;

    content: '';
}

.section--happy-clients .response-info p
{
    overflow: hidden;

    max-height: 166px;
}

.section--happy-clients .response-info__user
{
    margin-bottom: 16px;

    align-items: center;
}

.section--happy-clients .response-info__user img
{
    width: 46px;
    height: 46px;

    border: 1px solid #979797;
    border-radius: 50%;
}

.section--happy-clients .response-info__user span
{
    font: 400 1.5rem/1.5625rem 'Avenir Next Cyr';

    margin-left: 15px;

    color: #4e5665;
}

.section--happy-clients .response-img
{
    width: 570px;
    height: 428px;
}

.section--special-deals .container
{
    padding: 30px 0 72px;
}

.section--special-deals hr:nth-child(2)
{
    max-width: 270px;
    margin: 0 auto 55px;
}

.section--special-deals hr:nth-child(4)
{
    max-width: 1170px;
    margin: 80px auto 0;
}

.section--special-deals .special-deals__slider
{
    justify-content: center;
    align-items: center;
}

.section--special-deals .special-deals__slider .slider-button
{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 40px;
    height: 40px;
    margin: auto;

    border-radius: 50%;
    background: #7a96c4;
}

.section--special-deals .special-deals__slider .slider-button.next
{
    right: -20px;
}

.section--special-deals .special-deals__slider .slider-button.prev
{
    left: -20px;
}

.section--special-deals .special-deals__slider .slide
{
    position: relative;

    width: 560px;
    height: 420px;

    box-shadow: 0 2px 24px rgba(0,0,0,.15);
}

.section--special-deals .special-deals__slider .slide img
{
    border-radius: 4px;
}

.section--special-deals .special-deals__slider .slide__footer
{
    position: absolute;
    z-index: 5;
    bottom: 0;

    width: 100%;
    padding: 20px;
}

.section--special-deals .special-deals__slider .slide__footer .flex
{
    justify-content: space-between;
    align-items: flex-end;
}

.section--special-deals .special-deals__slider .slide .place
{
    font: 400 1.5rem 'Avenir Next Cyr';

    letter-spacing: 0.31rem;

    color: #fff;
}

.section--special-deals .special-deals__slider .slide .place span
{
    font-size: 0.875rem;
}

.section--special-deals .special-deals__slider .slide .coast
{
    font: 400 1.5rem 'Avenir Next Cyr';

    letter-spacing: 0.31rem;
    text-transform: uppercase;

    color: #fff;
}

.section--special-deals .special-deals__slider .slide .coast span
{
    font-weight: 700;

    color: #f5a623;
}

.section--special-deals .special-deals__slider .slide h3
{
    font: 500 3rem/3.375rem 'Avenir Next Cyr';

    margin-bottom: 30px;

    letter-spacing: 0.25813rem;
    text-transform: uppercase;

    color: #fff;
}

.section--special-deals .special-deals__slider .slide:nth-child(2)
{
    position: relative;
    z-index: 3;

    margin-left: -300px;
}

.section--special-deals .special-deals__slider .slide:nth-child(4)
{
    position: relative;
    z-index: 3;

    margin-right: -300px;
}

.section--special-deals .special-deals__slider .slide.active
{
    position: relative;
    z-index: 4;

    width: 640px;
    height: 480px;
    margin-right: -340px;
    margin-left: -340px;
}

.section--special-deals .special-deals__slider .slide.active:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(#000));

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);

    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);

    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
}

.section--special-deals .special-deals__slider .slide.first,
.section--special-deals .special-deals__slider .slide.last
{
    width: 480px;
    height: 315px;

    border-radius: 4px;
}

.section--about-us p:nth-child(3)
{
    margin-bottom: 20px;
}

.article-post
{
    overflow: hidden;

    max-width: calc(33% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 20px 0;

    transition: .28s;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.article-post:hover,
.article-post:focus
{
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
}

.article-post:hover img,
.article-post:focus img
{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.article-post__info
{
    margin-bottom: 20px;
    padding: 0 35px;
}

.article-post__info .info-item:first-child
{
    margin-right: 10px;
}

.article-post__info .info-item .icon
{
    width: 20px;
    height: 20px;
    margin-left: 8px;

    fill: #505050;
}

.article-post__info .info-item span
{
    font-size: 1rem;
    line-height: 1.125rem;

    color: #505050;
}

.article-post h3
{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8125rem;

    padding: 20px 35px;

    color: #000;
}

.article-post img
{
    height: 180px;

    transition: .69s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.article-post p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    overflow: hidden;

    max-height: 110px;
    margin-bottom: 25px;
    padding: 20px 35px;

    color: #505050;
}

.article-guide
{
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;

    transition: .33s;

    border-radius: 5px;
}

.article-guide:hover,
.article-guide:focus
{
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}

.article-guide:hover .button:after,
.article-guide:focus .button:after
{
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.article-guide:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .23;
    background: #000;
}

.article-guide a
{
    padding: 50px;

    align-items: center;
    justify-content: space-between;
}

.article-guide img
{
    position: absolute;
    z-index: -2;
    left: 0;
}

.article-guide h3
{
    font-size: 5rem;
    font-weight: 500;

    color: #fff;
}

.page-articles
{
    max-width: 850px;
    margin: 150px auto 50px;
    padding: 60px 0;

    border-radius: 25px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,.08);
}

.page-articles h1
{
    font-size: 2.0625rem;
    font-weight: 500;

    padding: 0 60px;
}

.page-articles .article-post__info
{
    margin-top: 20px;
    padding: 0 60px;
}

.page-articles .info-item .icon
{
    margin-right: 8px;
    margin-left: 0;
}

.page-articles img
{
    max-height: 425px;
    margin-top: 25px;
}

.page-articles h2
{
    font-size: 1.6875rem;
    font-weight: 500;

    margin-top: 25px;
    padding: 0 60px;
}

.page-articles h3
{
    font-size: 1.4375rem;
    font-weight: 500;

    margin-top: 25px;
    padding: 0 60px;
}

.page-articles p
{
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6875rem;

    margin-top: 25px;
    padding: 0 60px;

    color: #34343f;
}

.page-articles .quote
{
    margin-left: 100px;
    padding-right: 60px;
}

.page-articles .quote p
{
    padding: 20px;

    border-left: 1px solid #979797;
}

.page-destination .initial-screen
{
    position: relative;
}

.page-destination .initial-screen__info
{
    position: relative;

    padding: 270px 0 70px;
}

.page-destination h1
{
    font-size: 9rem;
    font-weight: 500;

    margin-bottom: 40px;

    color: #fff;
}

.destination__form
{
    position: relative;
    z-index: 1;

    width: -webkit-max-content;

    width: -moz-max-content;

    width: max-content;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 30px;

    align-items: center;
}

.destination__form:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .9;
    background: #fff;
}

.destination__form .form-destination__label
{
    position: relative;

    align-items: center;
}

.destination__form .form-destination__label:before
{
    position: absolute;
    left: 0;

    content: '';
}

.destination__form .label--from:before
{
    width: 7px;
    height: 10px;

    background: url('../images/Shape.png') no-repeat;
}

.destination__form .label--to:before
{
    width: 8px;
    height: 8px;

    background: url('../images/Shape-2.png') no-repeat;
}

.destination__form .label--date .form-destination__input
{
    font-size: 0.875rem;

    max-width: -webkit-max-content;

    max-width: -moz-max-content;

    max-width: max-content;
}

.destination__form .label--date:before
{
    width: 8px;
    height: 9px;

    background: url('../images/Shape-3.png') no-repeat;
}

.form-destination__input
{
    font-size: 0.75rem;
    font-weight: 500;

    max-width: 90px;
    margin-right: 25px;
    padding: 10px 20px;

    color: #4a4a4a;
    border-bottom: 1px solid #979797;
    background: 0;
}

.form-destination__button
{
    padding: 28px 50px;
}

.destination__info
{
    position: relative;

    border-bottom: 1px solid #f5f5f5;
    background: #fff;
}

.destination__info .container
{
    padding: 35px 0;
}

.destination__info h3
{
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: 30px;

    color: #4a4a4a;
}

.destination__info .info__section
{
    margin-right: 35px;
    padding-right: 35px;

    border-right: 1px solid #9b9b9b;
}

.destination__info .info__section:last-child
{
    margin-right: 0;
    padding-right: 0;

    border-right: 0;
}

.destination__info .info__section .left-side
{
    margin-right: 50px;
}

.destination__info .info__section .left-side p
{
    font-size: 1.5rem;
    font-weight: 400;

    max-width: 160px;

    color: #828282;
}

.destination__info .info__section .left-side .info__distance
{
    font-size: 1.5rem;
    font-weight: 500;

    position: relative;

    margin-top: 20px;
    padding-top: 50px;
    padding-left: 30px;

    color: #4a4a4a;
}

.destination__info .info__section .left-side .info__distance:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/lacation-shema.png') no-repeat 0 0/contain;
}

.destination__info .info__section .right-side
{
    max-width: 213px;
}

.destination__info .info__section .right-side p
{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.1875rem;

    color: #4a4a4a;
}

.section__destination.section--articles
{
    padding: 50px 0;

    box-shadow: inset 0 0 100px rgba(0,0,0,.06);
}

.section__destination.section--articles .container
{
    padding: 0;
}

.section__destination.section--articles h2
{
    text-align: center;
}

.section__destination.section--articles .articles
{
    padding: 0;
}

.section__destination.section--articles .article-post
{
    margin-right: 20px;
    margin-left: 0;
}

.section__destination.section--articles .article-post:last-child
{
    margin-right: 0;
}

.section__destination .container
{
    padding: 50px 100px;
}

.section__destination h2
{
    font-size: 2.25rem;
    font-weight: 500;

    margin-bottom: 35px;

    color: #34343f;
}

.section__destination h2 span
{
    font-size: 1.5rem;

    color: #9b9b9b;
}

.section__destination p
{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.6875rem;

    color: #34343f;
}

.section-description-category
{
    padding: 50px;

    justify-content: flex-start;
    align-items: center;
}

.section-description-category h2
{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 4.125rem;

    margin-right: 20px;
    padding-right: 20px;

    color: #34343f;
    border-right: 1px solid #34343f;
}

.section-description-category p
{
    font-size: 0.875rem;
    font-weight: 400;

    max-width: 500px;

    color: #595959;
}

.modalera article
{
    transition: .55s;
    -webkit-transform: scale(.6);
            transform: scale(.6);
}

.mode-read .modalera
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    overflow: auto;

    height: 100%;
    margin: auto;

    background: rgba(0,0,0,.65);
}

.mode-read .modalera:before
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    cursor: pointer;
}

.mode-read .modalera article
{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.mode-read
{
    overflow: hidden;
}

.mode-read .main
{
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

.select-category
{
    margin-top: 40px;
}

.select-category .category
{
    margin-right: 10px;
}

.category
{
    font-size: 0.875rem;
    font-weight: 400;

    padding: 3px 10px;

    color: #fff;
    border-radius: 3px;
}

.category.category--blue
{
    background: #4a90e2;
}

.category.category--yellow
{
    background: #f5a623;
}

.category.category--green
{
    background: #69d100;
}

.category.category--green
{
    background: #69d100;
}

.category.category--purple
{
    background: #9e47ea;
}

.journal-articles
{
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 340px;
    grid-gap: 20px;
}

.journal-articles .subscribe
{
    position: relative;

    padding: 65px 0;

    grid-row: 3;
    grid-column: 1/7;
}

.journal-articles .subscribe:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);

    opacity: .1;
    background: #81b9f9;
}

.journal-articles .subscribe:after
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 500px;
    height: 90%;

    content: '';

    background: url('../images/email-subscribe.png') no-repeat 0 0/contain;
}

.journal-articles .subscribe h2
{
    font-size: 2.25rem;
    font-weight: 500;

    margin-bottom: 15px;

    letter-spacing: 0.39688rem;

    color: #56cad8;
}

.journal-articles .subscribe p
{
    font-size: 1.25rem;
    font-weight: 500;

    color: #2d8792;
}

.journal-articles .subscribe__form
{
    position: relative;

    margin-top: 50px;
}

.journal-articles .subscribe__input
{
    font-size: 1.25rem;
    font-weight: 400;

    padding: 30px 50px;

    color: #9b9b9b;
    border-radius: 8px 0 0 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.journal-articles .subscribe__submit
{
    font-size: 1.25rem;
    font-weight: 500;

    padding: 30px;

    color: #fff;
    border-radius: 0 8px 8px 0;
    background: #de8e68;
}

.journal-articles .journal-article
{
    position: relative;

    overflow: hidden;

    border-radius: 6px;
}

.journal-articles .journal-article:before
{
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(#000));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
}

.journal-articles .journal-article a
{
    height: 100%;
}

.journal-articles .journal-article__header
{
    padding: 20px 50px;
}

.journal-articles .journal-article__footer
{
    position: absolute;
    bottom: 0;

    padding: 20px 50px;
}

.journal-articles .journal-article__footer .info
{
    font-size: 0.75rem;
    font-weight: 500;

    color: #d9d9d9;
}

.journal-articles .journal-article h3
{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.4375rem;

    margin-bottom: 15px;

    color: #fff;
}

.journal-articles .journal-article img
{
    position: absolute;
    z-index: -2;
}

.journal-articles .journal-article:nth-child(5n+1)
{
    grid-column: 1/4;
}

.journal-articles .journal-article:nth-child(5n+2)
{
    grid-column: 4/7;
}

.journal-articles .journal-article:nth-child(5n+3)
{
    grid-column: 1/3;
}

.journal-articles .journal-article:nth-child(5n+4)
{
    grid-column: 3/5;
}

.journal-articles .journal-article:nth-child(5n+5)
{
    grid-column: 5/7;
}

.category-sales
{
    position: relative;

    flex-direction: column;

    padding-top: 300px;
    padding-bottom: 100px;

    justify-content: center;
    align-items: center;
}

.category-sales__info
{
    text-align: center;
}

.category-sales__info h1
{
    font-size: 6.25rem;
    font-weight: 500;

    color: #fff;
}

.category-sales__info p
{
    font-size: 2.25rem;
    font-weight: 500;

    margin-top: 20px;

    color: #fff;
}

.category-sales__info hr
{
    max-width: 380px;
    height: 1px;
    margin: auto;
    margin-top: 20px;

    background: #fff;
}

.section--sales
{
    padding: 80px 0 0;
}

.section--sales__info
{
    margin-bottom: 50px;
}

.section--sales__info h2
{
    font-size: 3rem;
    font-weight: 500;

    text-align: center;

    color: #4a4a4a;
}

.section--sales__info p
{
    font-size: 1.25rem;
    font-weight: 500;

    margin-top: 35px;

    text-align: center;

    color: #9b9b9b;
}

.section--sales__trips
{
    padding: 0 100px;

    flex-wrap: wrap;
    justify-content: center;
}

.sales-articles
{
    margin-top: 75px;
}

.article-sale
{
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 184px;
    margin-right: 10px;

    border-radius: 4px;
}

.article-sale__footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 25px;

    align-items: flex-end;
    justify-content: space-between;
}

.article-sale__info h3
{
    font-size: 1.875rem;
    font-weight: 300;

    margin-bottom: 10px;

    color: #fff;
}

.article-sale__info p
{
    font-size: 0.875rem;
    font-weight: 300;

    margin-top: 3px;

    opacity: .7;
    color: #fff;
}

.article-sale__price
{
    font-size: 2.25rem;
    font-weight: 300;

    color: #fff;
}

.bg-article--dark:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(#000));

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);

    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);

    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
}

.article--img
{
    position: absolute;
    z-index: -2;
}

.article--percent
{
    font-size: 1.125rem;
    font-weight: 300;

    position: absolute;

    padding: 12px;

    color: #fff;
}

.article--percent:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 18px;

    content: '';
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);

    border: 38px solid transparent;
    border-top-color: #edba51;
    border-left-color: #edba51;
}

.article-trip-sales
{
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 4px;
}

.article-trip-sales:nth-child(3n)
{
    margin-right: 0;
}

.article-trip-sales__header
{
    flex-direction: column;

    height: 100%;

    align-items: center;
    justify-content: center;
}

.article-trip-sales__header .price
{
    font-size: 3rem;
    font-weight: 500;

    margin-top: 20px;

    color: #fff;
}

.article-trip-sales__button
{
    margin-top: 20px;
    padding: 10px 45px;

    color: #fff;
    border-radius: 19px;
    background: #edba51;
}

.article-trip-sales h3
{
    font-size: 2.25rem;
    font-weight: 300;

    color: #fff;
}

.section--initial-screen
{
    position: relative;

    padding-bottom: 50px;

    box-shadow: 0 -8px 35px rgba(0,0,0,.04);
}

.section--initial-screen .wallpaper
{
    position: absolute;
    z-index: -2;
}

.section--initial-screen.category-guides
{
    flex-direction: column;

    padding: 50px 0;

    box-shadow: inset 0 0 100px rgba(0,0,0,.06);

    justify-content: center;
    align-items: center;
}

.section--initial-screen.category-guides h1
{
    font-size: 7.1875rem;
    font-weight: 600;
    line-height: 9rem;

    position: relative;

    width: 100%;
    padding: 0;

    text-align: center;
    letter-spacing: 0.3125rem;

    color: #444;
}

.section--initial-screen.category-guides hr
{
    width: 100%;
}

.section--initial-screen.category-guides p
{
    font-size: 1.1875rem;

    max-width: 800px;
    margin: auto;

    text-align: center;
}
