@import '../fonts/fonts.css';

body
{
    font-family: sans-serif;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: Qanelas, sans-serif;
}

::-moz-selection
{
    color: #fff;
    background: #31cfce;
}

::selection
{
    color: #fff;
    background: #31cfce;
}

img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

input
{
    border: 0;
}

input[type='submit'] + label
{
    cursor: pointer;
}

.header
{
    position: absolute;
    z-index: 99;

    width: 100%;
    height: 75px;
    padding: 0 50px;

    justify-content: space-between;
    align-items: center;
}

.logotype
{
    font-size: 1.5rem;

    letter-spacing: 0.08813rem;

    color: #fff;
}

.nav__list-item a
{
    font: 600 1.25rem 'Akrobat';

    margin-left: 50px;

    letter-spacing: 0.07375rem;
    text-transform: uppercase;

    color: #fff;
}

.main__section .container
{
    max-width: 970px;
    margin: 0 auto;
    padding: 72px 0;
}

.main h2
{
    font: 400 3rem/2.375rem 'Avenir Next Cyr';

    margin-bottom: 33px;

    text-align: center;

    color: #4a4a4a;
}

.main p
{
    font: 400 1rem/1.75rem 'Avenir Next Cyr';

    color: #505050;
}

.main p a
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;

    margin-left: 8px;

    color: #4a90e2;
}

.section--initial-screen
{
    position: relative;

    height: 100vh;
    padding-top: 300px;
    padding-left: 125px;

    background: url('../images/main-bg-1.jpg') no-repeat 0 0/cover;
}

.section--initial-screen h1
{
    font: 400 9rem/9rem 'UnicaOne-Regular';

    position: relative;
    z-index: 2;

    max-width: 733px;
    margin-bottom: 90px;

    letter-spacing: 0.1325rem;
    text-transform: uppercase;

    color: #fff;
}

.section--initial-screen a
{
    font: 400 1.5rem 'Akrobat';

    position: relative;
    z-index: 2;

    margin-left: 10px;
    padding: 13px 60px;

    letter-spacing: 0.07688rem;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
}

.section--initial-screen:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-radial-gradient(37.51% -.54%, circle 667px, rgba(255,255,255,0) 0%, rgba(0,0,0,.49) 100%);

    background: -o-radial-gradient(37.51% -.54%, circle 667px, rgba(255,255,255,0) 0%, rgba(0,0,0,.49) 100%);

    background: radial-gradient(circle 667px at 37.51%, at -.54%, rgba(255,255,255,0) 0%, rgba(0,0,0,.49) 100%);

    background: radial-gradient(circle 667px at 37.51% -.54%, rgba(255,255,255,0) 0%, rgba(0,0,0,.49) 100%);
}

.section--initial-screen:after
{
    position: absolute;
    top: 75px;
    right: 17px;
    bottom: 20px;
    left: 17px;

    margin: auto;

    content: '';

    border: 1px solid #fff;
    border-bottom: 0;
}

.section--what-we-do__icons
{
    margin-top: 45px;

    justify-content: center;
}

.section--what-we-do .what-we-do__icon
{
    flex-direction: column;

    width: 33%;

    text-align: center;

    justify-content: center;
}

.section--what-we-do .what-we-do__icon .icon
{
    width: 150px;
    height: 150px;
    margin: 0 auto 26px;
}

.section--what-we-do .what-we-do__icon strong
{
    font: 500 1.375rem/1.875rem 'Avenir Next Cyr';

    text-transform: uppercase;

    color: #4e5665;
}

.section--happy-clients__response
{
    position: relative;

    margin: 65px 0;

    align-items: center;
}

.section--happy-clients__response.response--left
{
    justify-content: flex-end;
}

.section--happy-clients__response.response--left .response-info
{
    left: 0;
}

.section--happy-clients__response.response--right
{
    justify-content: flex-start;
}

.section--happy-clients__response.response--right .response-info
{
    right: 0;
}

.section--happy-clients .response-info
{
    position: absolute;

    width: 470px;
    height: 289px;
    padding: 30px 45px;

    background: #fff;
    box-shadow: 0 2px 40px rgba(0,0,0,.2);
}

.section--happy-clients .response-info p
{
    overflow: hidden;

    max-height: 166px;
}

.section--happy-clients .response-info__user
{
    margin-bottom: 16px;

    align-items: center;
}

.section--happy-clients .response-info__user img
{
    width: 46px;
    height: 46px;

    border: 1px solid #979797;
    border-radius: 50%;
}

.section--happy-clients .response-info__user span
{
    font: 400 1.5rem/1.5625rem 'Avenir Next Cyr';

    margin-left: 15px;

    color: #4e5665;
}

.section--happy-clients .response-img
{
    width: 570px;
    height: 428px;
}
