.category-sales
  padding-top 300px
  padding-bottom 100px
  justify-content center
  align-items center
  flex-direction column
  position relative
  &__info
    text-align center
    h1
      color #ffffff
      font-size 100px
      font-weight 500
    p
      color #ffffff
      font-size 36px
      font-weight 500
      margin-top 20px
    hr
      max-width 380px
      height 1px
      background #fff
      margin-top 20px
      margin auto
.section--sales
  padding 80px 0 0
  &__info
    margin-bottom 50px
    h2
      color #4a4a4a
      font-size 48px
      text-align center
      font-weight 500
    p
      color #9b9b9b
      font-size 20px
      font-weight 500
      text-align center
      margin-top 35px
  &__trips
    padding 0 100px
    flex-wrap wrap
    justify-content center
.sales-articles
  margin-top 75px
.article-sale
  position relative
  width 300px
  height 184px
  border-radius 4px
  overflow hidden
  margin-right 10px
  &__footer
    position absolute
    padding 25px
    align-items flex-end
    justify-content space-between
    width 100%
    bottom 0
  &__info
    h3
      color #ffffff
      font-size 30px
      font-weight 300
      margin-bottom 10px
    p
      opacity 0.7
      color #ffffff
      font-size 14px
      font-weight 300
      margin-top 3px
  &__price
    color #ffffff
    font-size 36px
    font-weight 300


.bg-article--dark
  &:before
    content ''
    background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -1
.article--img
  z-index -2
  position absolute
.article--percent
  color #ffffff
  font-size 18px
  font-weight 300
  padding 12px
  position absolute
  &:before
    content ''
    border 38px solid transparent
    border-left-color #edba51
    border-top-color #edba51
    position absolute
    left 18px
    transform scaleX(1.5)
    top 0
    z-index -1





.article-trip-sales
  width 300px
  height 300px
  position relative
  border-radius 4px
  overflow hidden
  margin-right 10px
  margin-bottom 10px
  &:nth-child(3n)
    margin-right 0
  &__header
    flex-direction column
    align-items center
    justify-content center
    height 100%
    .price
      color #ffffff
      font-size 48px
      margin-top 20px
      font-weight 500
  &__button
    border-radius 19px
    background-color #edba51
    color #fff
    padding 10px 45px
    margin-top 20px
  h3
    color #ffffff
    font-size 36px
    font-weight 300
