.header
  z-index 99
  position absolute
  justify-content flex-start
  width 100%
  top 0
  padding 40px 50px

  align-items center
.logotype
  color #303741
  font-size 24px
  font-weight 500
  background-color #edba51
  padding 5px 16px

.header__nav
  margin-left 135px
.nav__list-item
  &.active,&:hover
    a
      &:after
        width 100%
  a
    color #303741
    font-size 14px
    font-weight 600
    margin-right 38px
    position relative
    padding-bottom 2px
    &:after
      content ''
      position absolute
      left 0
      bottom 0
      width 0%
      height 1px
      background-color #303741
      transition .33s
