.header
  z-index 99
  position absolute
  justify-content space-between
  width 100%
  padding 0 50px
  height 75px
  align-items center
.logotype
  color #ffffff
  font-size 24px
  letter-spacing 1.41px

.nav__list-item a
  color #ffffff
  font-size 20px
  font-weight 600
  text-transform uppercase
  letter-spacing 1.18px
  font-family 'Akrobat'
  margin-left 50px
