.main
  &__initial-screen
    height 100vh
    background-image url(../images/main-bg-1.jpg)
    background-size cover
    background-repeat no-repeat
    padding-left 125px
    padding-top 300px
    position relative
    a
      color #ffffff
      font-size 24px
      font-weight 400
      text-transform uppercase
      letter-spacing 1.23px
      padding 11px 60px
      border 1px solid #fff
      margin-left 10px
      position relative
      z-index 2
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-image radial-gradient(circle 667px at 37.51% -0.54%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49) 100%)
    &:after
      content ''
      position absolute
      top 75px
      bottom 20px
      left 17px
      right 17px
      margin auto
      border 1px solid #ffffff
  h1
    color: #ffffff;
    font-family: 'UnicaOne-Regular';
    font-size: 144px;
    font-weight: 400;
    line-height: 144px;
    text-transform: uppercase;
    letter-spacing: 2.12px;
    max-width 733px
    margin-bottom 90px
    position relative
    z-index 2
