.page-articles
  max-width 850px
  box-shadow 0 0 12px rgba(0,0,0 .08)
  background #fff
  border-radius 25px
  padding 60px 0
  margin 150px auto 50px

  h1
    padding 0 60px
    font-size 33px
    font-weight 500
  .close
    position fixed
    top 100px
    right 50px
    background 0
    .icon
      width 50px
      height 50px
      fill #ccc

  .article-post__info
      padding 0 60px
      margin-top 20px
  .info-item
    .icon
      margin-left 0
      margin-right 8px
  img
    max-height 425px
    margin-top 25px
  h2
    padding 0 60px
    font-size 27px
    font-weight 500
    margin-top 25px
  h3
    padding 0 60px
    margin-top 25px
    font-size 23px
    font-weight 500
  p
    padding 0 60px
    color #34343f
    margin-top 25px
    font-size 17px
    font-weight 400
    line-height 27px
  .quote
    margin-left 100px
    padding-right 60px
    p
      border-left 1px solid #979797
      padding 20px
