.page-destination
  .wallpaper
    position absolute
    z-index -1
  .initial-screen
    position relative
    &:before
      content ''
      background-color #000000
      opacity 0.23
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      z-index 0
    &__info
      position relative
      padding 270px 0 70px
  h1
    color #ffffff
    font-size 144px
    font-weight 500
    margin-bottom 40px

.destination__form
  position relative
  width max-content
  padding-left 30px
  padding-bottom 20px
  padding-top 40px
  align-items center
  z-index 1
  &:before
    content ''
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background-color #ffffff
    opacity 0.9
    z-index -1
  .form-destination__label
    position relative
    align-items center
    &:before
      content ''
      position absolute
      left 0
  .label--from
    &:before
      background url(../images/Shape.png) no-repeat
      width 7px
      height 10px
  .label--to
    &:before
      background url(../images/Shape-2.png) no-repeat
      width 8px
      height 8px
  .label--date
    .form-destination__input
      max-width max-content
      font-size 14px
    &:before
      background url(../images/Shape-3.png) no-repeat
      width 8px
      height 9px
.form-destination
  &__input
    background 0
    max-width 90px
    padding 10px 20px
    border-bottom 1px solid #979797
    margin-right 25px
    color #4a4a4a
    font-size 12px
    font-weight 500

  &__button
    padding 28px 50px

.destination__info
  background #fff
  position relative
  border-bottom 1px solid #f5f5f5
  .container
    padding 35px 0
  h3
    color #4a4a4a
    font-size 24px
    font-weight 500
    margin-bottom 30px
  .info__section
    padding-right 35px
    margin-right 35px
    border-right 1px solid #9b9b9b
    &:last-child
      border-right 0
      margin-right 0
      padding-right 0
    .left-side
      margin-right 50px
      p
        color #828282
        max-width 160px
        font-size 24px
        font-weight 400
      .info__distance
        color #4a4a4a
        font-size 24px
        font-weight 500
        padding-top 50px
        position relative
        padding-left 30px
        margin-top 20px
        &:before
          content ''
          position absolute
          background-image url(../images/lacation-shema.png)
          left 0
          right 0
          background-size contain
          background-repeat no-repeat
          top 0
          bottom 0
    .right-side
      max-width 213px
      p
        color #4a4a4a
        font-size 12px
        font-weight 400
        line-height 19px

.section__destination
  &.section--articles
    padding 50px 0
    box-shadow inset 0 0 100px rgba(0,0,0, .06)
    .container
      padding 0
    h2
      text-align center
    .articles
      padding 0
    .article-post
      margin-right 20px
      margin-left 0
      &:last-child
        margin-right 0

  .container
    padding 50px 100px
  h2
    font-weight 500
    color #34343f
    font-size 36px
    margin-bottom 35px
    span
      font-size 24px
      color #9b9b9b

  p
    color #34343f
    font-size 14px
    font-weight 500
    line-height 27px
