include mixins.pug
header.header.flex
  .header__fixed.container.flex
    a(href="index.html").logotype Traveo
    form.header__form.form-search.flex(method='GET') 
      input.form-search__filed(type="text" name='search' placeholder='Find trips, fligths and hotels…')
      input.form-search__submit.button--yellow(type="submit" value='search')    
    a(href="#").login Sign in
  nav.header__nav
    ul.nav__list.flex 
      li.nav__list-item
        a(href="category-articles.html").active News
      li.nav__list-item
        a(href="category-guides.html") Guides
      li.nav__list-item
        a(href="#") Journal
      li.nav__list-item
        a(href="#") Fresh deals
  
