include mixins.pug
header.header.flex
  a(href="#").logotype Travelnature
  nav.header__nav
    ul.nav__list.flex
      li.nav__list-item
        a(href="#") Home
      li.nav__list-item
        a(href="#") Categories
      li.nav__list-item
        a(href="#") Contacts
      li.nav__list-item
        a(href="#") About us
  
