include mixins.pug
header.header.flex
  a(href="index.html").logotype Traveo
  nav.header__nav
    ul.nav__list.flex
      li.nav__list-item
        a(href="#") About
      li.nav__list-item
        a(href="#") Clients
      li.nav__list-item
        a(href="#") Deals
      li.nav__list-item
        a(href="#") Contact
  
