mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)

mixin article(title, image = 'main-bg-1.jpg')
  article.article-post
    a(href='page-article.html')
      h3= title
      .article-post__info.flex
        .info-item.flex
          span 1234 
          +icon('eye')
        .info-item.flex
          span 89
          +icon('comment')
          
      img(src='images/' + image alt='')
      p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 



mixin guide(title, image = 'destinations-wallpaper.jpg')
  article.article-guide 
    a(href='page-destination.html').flex
      img(src='images/' + image alt='')
      h3= title 
      button.button.button--yellow  Discover
