doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/style.min.css')
    title main page
  body
    include inc/header.pug
    main.main 
      section.main__section.section--initial-screen.flex.top.category-guides
        img(src='images/destinations-wallpaper.jpg' alt='').wallpaper
        .left-side
                 
        .right-side
          h1 Travel Guides
          h2 
            span Palermo
          hr
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Read more
          a(href='page-destination.html').button.button--yellow  Discover
      section.section-description-category.flex.container
        h2 Travel Guides
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .container
        
        +guide('Capaci', 'initial-1.jpg')
        +guide('Palermo')
        +guide('Capaci', 'initial-1.jpg')
        +guide('Palermo')

    include inc/footer.pug      
