doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/style.min.css')
    title main page
  body
    include inc/header.pug
    main.main 
      .main__initial-screen
        h1 Make your travel nice
        a(href='#') View tours
    
