doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/style.min.css')
    title main page
  body
    include inc/header.pug
    main.main
      aside.main-aside.flex
        ul.main-aside__nav-list.flex
          li.main-aside__nav-item.flex
            a(href='#section-1')
          li.main-aside__nav-item.flex
            a(href='#section-2')
          li.main-aside__nav-item.flex
            a(href='#section-3')
          li.main-aside__nav-item.flex.active
            a(href='#section-4')
          li.main-aside__nav-item.flex
            a(href='#section-5')
              
      section.main__screen.flex#section-1.bg-img.bg-dark
          .container
            .main__screen-info
              h1 
                span.wavy Traveo 
                |is a travel template
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              a(href='page-article.html').button.button--yellow  Discover
          hr
      section.main__screen.p__r.section--what-we-do.flex#section-2.bg-inherit.bg-dark.bg-img
        .container.main__screen--center.bg-inherit.flex.p__r
          .main__screen-info
            h2 What 
              span.wavy We Do?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .section--what-we-do__icons.flex.bg-inherit
            .what-we-do__icon.flex
              .wrap
                +icon('avia-tickets')
                h6 Tours
                p Lorem ipsum dolor sit amett, consectetur adipiscing
            .what-we-do__icon.flex
              .wrap
                +icon('avia-tickets')
                h6 Flight
                p Lorem ipsum dolor sit amett, consectetur adipiscing
            .what-we-do__icon.flex
              .wrap
                +icon('avia-tickets')
                h6 Hotel
                p Lorem ipsum dolor sit amett, consectetur adipiscing
            .what-we-do__icon.flex
              .wrap
                +icon('avia-tickets')
                h6 Hotel
                p Lorem ipsum dolor sit amett, consectetur adipiscing
      
      section.main__section.section--happy-clients#section-3.main--screen
        .container
          h2 Happy Clients
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a(href='#') Read More ››
          .section--happy-clients__response.response--left.flex
            .response-info
              .response-info__user.flex
                img(src='images/img-user-1.jpg' alt='')
                span Peter Henderson
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
            img(src='images/img-response-1.jpg' alt='').response-img
          .section--happy-clients__response.response--right.flex
            .response-info
              .response-info__user.flex
                img(src='images/img-user-2.jpg' alt='')
                span Peter Henderson
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
            img(src='images/img-response-2.jpg' alt='').response-img
          hr
      section.main__section.section--special-deals
        .container
          h2 Special Deals
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        .special-deals__slider.flex
          .slide.first
            img(src="images/special-deals-1.jpg" alt="")    
          .slide
            img(src="images/img-response-2.jpg" alt="")
          .slide.active
            button.slider-button.prev
            button.slider-button.next
            img(src="images/special-deals-1.jpg" alt="")
            footer.slide__footer
              h3 Special trip
              .flex
                .place Miami, 
                  span 3Nights
                .coast ONLY 
                  span $245
          .slide
            img(src="images/img-response-1.jpg" alt="")
          .slide.last
            img(src="images/special-deals-1.jpg" alt="")
        hr
      section.main__section.section--about-us
        .container
          h2 About us
          h3 Our team
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          h3 Our Company
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    include inc/footer.pug      
