doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/style.min.css')
    title main page
  body
    include inc/header.pug
    main.main 
      section.main__section.section--initial-screen.flex.top
        .left-side
          img(src='images/main-bg-1.jpg' alt='')        
        .right-side
          h1 Travel Guide
          .buttons
            a(href='category-articles.html') News
            a(href='#').active Travel Guide
            a(href='#') Hottest spots
            a(href='#') Fresh deals
          hr
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Read more
          a(href='#').button.button--yellow  Discover
      section.main__section.section--what-we-do
        .container
          h2 What We Do?
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a(href='#') Read More ››
          .section--what-we-do__icons.flex
            .what-we-do__icon.flex
              +icon('avia-tickets')
              strong Tours
              p Trips
            .what-we-do__icon.flex
              +icon('avia-tickets')
              strong Flight
              p Tickets
            .what-we-do__icon.flex
              +icon('avia-tickets')
              strong Hotel
              p Booking
        hr
      section.main__section.section--happy-clients
        .container
          h2 Happy Clients
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            a(href='#') Read More ››
          .section--happy-clients__response.response--left.flex
            .response-info
              .response-info__user.flex
                img(src='images/img-user-1.jpg' alt='')
                span Peter Henderson
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
            img(src='images/img-response-1.jpg' alt='').response-img
          .section--happy-clients__response.response--right.flex
            .response-info
              .response-info__user.flex
                img(src='images/img-user-2.jpg' alt='')
                span Peter Henderson
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
            img(src='images/img-response-2.jpg' alt='').response-img
          hr
      section.main__section.section--special-deals
        .container
          h2 Special Deals
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        .special-deals__slider.flex
          .slide.first
            img(src="images/special-deals-1.jpg" alt="")    
          .slide
            img(src="images/img-response-2.jpg" alt="")
          .slide.active
            button.slider-button.prev
            button.slider-button.next
            img(src="images/special-deals-1.jpg" alt="")
            footer.slide__footer
              h3 Special trip
              .flex
                .place Miami, 
                  span 3Nights
                .coast ONLY 
                  span $245
          .slide
            img(src="images/img-response-1.jpg" alt="")
          .slide.last
            img(src="images/special-deals-1.jpg" alt="")
        hr
      section.main__section.section--about-us
        .container
          h2 About us
          h3 Our team
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          h3 Our Company
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    include inc/footer.pug      
