doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/style.min.css')
    title main page
  body
    include inc/header.pug
    main.main 
      article.page-destination
        .initial-screen.bg-dark
          button.close
            +icon('cancel')
          img(src='images/destinations-wallpaper.jpg' alt='').wallpaper
          .container.initial-screen__info
            h1 Palermo
            form.destination__form(method='GET').flex
              label.form-destination__label.label--from.flex
                input.form-destination__input(type='text' name='From' placeholder='From')
              label.form-destination__label.label--to.flex
                input.form-destination__input(type='text' name='To' placeholder='To Where')
              label.form-destination__label.label--date.flex
                input.form-destination__input(type='date' name='To' placeholder='To Where')
              label.form-destination__label.label--date.flex
                input.form-destination__input(type='date' name='To' placeholder='To Where')
              button.form-destination__button.button--yellow.button(type='submit' name='submit' value='Find') Find
          .destination__info
            .container.flex
              section.info__section
                h3 Location
                .flex 
                  .left-side 
                    p Italy, Sicily, Palermo
                    p.info__distance 293km
                  .right-side 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              section.info__section
                h3 Tour
                .flex 
                  .left-side 
                    p Palermo now
                  .right-side 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              section.info__section
                h3 Review
                .flex 
                  .right-side 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        section.section__destination.section--articles
          .container
            h2 Country News
            .flex.articles
              +article('Discover Sicily. Places worth visiting')
              +article('Discover Sicily. Places worth visiting')
              +article('Discover Sicily. Places worth visiting') 
      
        section.section__destination
          .container
            h2 Location 
              span city & attractions  
            p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17683295.937268157!2d-90.78613318648065!3d43.34302024051307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1550343038572" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        section.section__destination
          .container
            h2 Weather 
              span city & forecasts
            p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        
    include inc/footer.pug      
