@import '../fonts/fonts.css'
:root
  --yellow #edba51
  --blackColor #232323
body
  font-family sans-serif
  scroll-behavior smooth
.flex
  display flex
.grid
  display grid
.container
  max-width 1280px
  margin auto
  width 100%
.p__r
    position relative
.wallpaper
  position absolute
  z-index -2
  top 0
.main

  .articles
    flex-wrap wrap
    padding 0 10px
.button
  color #000000
  font-size 14px
  font-weight 700
  background-color #edba51
  padding 40px 50px

  letter-spacing 3.5px
  display inline-flex
  align-items center
  &:after
    content ''
    width 64px
    height 1px
    margin-left 22px
    background-color #000000
    transition .33s
  &:hover
    &:after
      transform translateX(50px)
.button--yellow
  background var(--yellow)
  color var(--blackColor)
.footer
  background #232323
  height 300px
.top
  margin-top 145px
.close
  position fixed
  top 15px
  right 50px
  z-index 99
  background 0
  .icon
    width 45px
    height 45px
    fill #ccc
.bg-dark
  &:before
    content ''
    background-color #000000
    opacity 0.29
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
@import 'inc/reset.styl'
@import 'inc/header.styl'
@import 'inc/index.styl'
@import 'inc/articles.styl'
@import 'inc/page-article.styl'
@import 'inc/page-destination.styl'
@import 'inc/category.styl'
@import 'inc/category-journal.styl'
@import 'inc/category-sales.styl'
@import 'inc/category-guides.styl'
